/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

header {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 10px;
}

#weatherResult {
    margin-top: 20px;
}
